*{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
}
.welcome-msg{
  background-color: greenyellow;
}
.error-msg{
  background-color: rgb(225, 35, 35);
}